@import "tailwindcss";

@theme {
  --color-primary: #87A96B;
  --color-secondary: #E2725B;
  --color-background: #FDFDFD;
  --color-text: #333333;

  --font-sans: "Noto Sans JP", "Inter", sans-serif;
}

:root {
  --background: var(--color-background);
  --foreground: var(--color-text);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}
