@import "tailwindcss";

@theme {
  --color-primary: #87A96B;
  --color-secondary: #E2725B;
  --color-background: #FDFDFD;
  --color-text: #333333;
}

:root {
  --background: #FDFDFD;
  --text: #333333;
}

body {
  background-color: var(--background);
  color: var(--text);
  margin: 0;
  font-family: var(--font-noto), sans-serif;
}
